<div class="about">
    <div class="about__container">
        <div class="about__content">
            <div class="about__section-tag" data-sly-test="${properties.sectionTag}">
                <span class="about__section-line"></span>
                <span class="about__section-label">${properties.sectionTag}</span>
            </div>
            <h2 class="about__title" data-sly-test="${properties.sectionTitle}">
                ${properties.sectionTitle}
            </h2>
            <p class="about__text" data-sly-test="${properties.text}">
                ${properties.text}
            </p>
            <div class="about__signature" data-sly-test="${properties.signature}">
                ${properties.signature}
            </div>
        </div>
        <div class="about__image" data-sly-test="${properties.image}">
            <img src="${properties.image}" alt="About BuyCar"/>
        </div>
    </div>
</div>