<section class="hero-lp" style="background-image: url(${properties.backgroundImage @ context='uri'});">
    <div class="hero-lp__overlay"></div>
    
    <div class="hero-lp__container">
        
        <div class="hero-lp__content">
            <div class="hero-lp__title">
                <h2>${properties.title}</h2>
            </div>
            <div class="hero-lp__textDescription">
                ${properties.textDescription}
            </div>
            <div class="hero-lp__buttons">
                <a href="${properties.button1Link @ context='uri'}" class="hero-lp__button hero-lp__button--primary">
                    ${properties.button1Text}
                </a>
                <a href="${properties.button2Link @ context='uri'}" class="hero-lp__button hero-lp__button--secondary">
                    ${properties.button2Text}
                </a>
            </div>
        </div>
        
        <div class="hero-lp__car">
            <img src="${properties.carImage}" alt=""/>
        </div>
        
    </div>
    
</section>